@import '../../styles/config/config.scss';

.course {
    display: flex;
    text-align: center;
    flex-flow: column;
    gap: 44px;
    margin: 0 0 44px 0;
    color: $black;
		&__title {
            text-transform: uppercase;
        }
		&__semesters {
            display: grid;
            justify-content: center;
            gap: 50px;
            grid-auto-flow: column;
            grid-template: 376px / repeat(auto-fit, minmax(100px, 1fr));
        }
    @media (max-width: 767px) {
        &__semesters {
            grid-auto-flow: row;
            grid-template: repeat(2, minmax(300px, 376px)) / 1fr;
        }
    }
}
.semester {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
    text-align: center;
    gap: 25px;
    line-height: 120%;
    font-weight: 500;
		&__image {
            background-color: black;
            overflow: hidden;
            border-radius: 3px;
            max-width: 500px;
            max-height: 327px;
            width: 100%;
            height: 100%;
        }
        &__image img{
            border-radius: 3px;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
		&__title {
            font-size: 1.5rem;
        }
        &__title.skeleton {
            padding: 20px;
        }
}
