<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">

    <meta name="description" content="discription">
    <meta name="keywords" content="discription">

    <meta name="robots" content="none">

    <meta name="Author" content="Denis Sarzhan">
    <meta name="Copyright" content="Den4ik">
    <meta name="Address" content="бул. Пушкина">

    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="styles/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="https://livejs.com/live.js"></script>

    <title>Main Page</title>
</head>

<body> 
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__body">
                    <div class="header__menu menu">
                        <div class="menu__body">
                            <ul class="menu__list">
                                <li><a href="" class="menu__link">Главная</a></li>
                                <li><a href="" class="menu__link">Оклейка автомобилей</a></li>
                                <li><a href="" class="menu__link">Детейлинг автомобилей</a></li>
                                <li><a href="" class="menu__link">Галерея работ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <main class="page">
            <section class="page__block-main main-block">
                <div class="main-block__container container">
                    <div class="main-block__body">
                        <div class="main-block__title">CAR MUSC</div>
                        <div class="main-block__dots dots">
                            <div class="dots__list">
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                            </div>
                        </div>
                        <div class="main-block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae orci urna amet penatibus.</div>
                        <div class="main-block__button btn">
                            <span>Наши услуги</span>
                        </div>
                    </div>
                </div>
                <div class="main-block__contact-block contact-block">
                    <div class="contact-block__body">
                        <div class="contact-block__grid">
                            <div class="contact-block__item contact-block__item-1">
                                <div class="slider">
                                    <div class="slider__title">Адрес</div>
                                    <div class="slider__content">
                                        <div class="contact">
                                            <div class="contact__title">адрес:</div>
                                            <div class="contact__text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-block__item contact-block__item-2">
                                <div class="slider">
                                    <div class="slider__title">Телефон</div>
                                    <div class="slider__content">
                                        <div class="contact">
                                            <div class="contact__title">телефон:</div>
                                            <div class="contact__text">
                                                <a href="">8 (812) 123-45-67</a>
                                                <a href="">8-911-123-45-67</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-block__item contact-block__item-3">
                                <div class="slider">
                                    <div class="slider__title">Режим работы</div>
                                    <div class="slider__content">
                                        <div class="contact">
                                            <div class="contact__title">режим работы:</div>
                                            <div class="contact__text">
                                                <p>пн-пт : 10:00 - 20:00</p>
                                                <p>сб-вск : 12:00 - 20:00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-block__image _ibg">
                    <img src="/img/main-block/Rectangle 64.jpg" alt="">
                </div>
            </section>
            <section class="page__block-achieve achieve-block">
                <div class="achieve-block__container container">
                    <div class="achieve-block__body">
                        <div class="achieve-block__item">
                            <div class="achieve-block__title title title--big">наши достижения от кубка россии до чемпионатов мира</div>
                            <div class="achieve-block__dots dots">
                                <div class="dots__list">
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                </div>
                            </div>
                            <div class="achieve-block__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Habitant tincidunt aliquam tincidunt pretium sodales. Tristique odio pellentesque et tincidunt posuere arcu purus lobortis risus. Urna, ut amet odio orci magnis praesent ultrices. Praesent malesuada lacus tellus tristique sit at. Sed viverra nulla nam arcu, non iaculis pretium, volutpat. 
                            </div>
                        </div>  
                        <div class="achieve-block__item">
                            <div class="achieve-block__achievements achievements">
                                <ul class="achievements__list">
                                    <ul class="achievements__left-col">
                                        <li class="achievement achievements__left">
                                            <div class="achievement__title">1</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                        <li class="achievement achievements__left">
                                            <div class="achievement__title">2</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                        <li class="achievement achievements__left">
                                            <div class="achievement__title">3</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                        <li class="achievement achievements__left">
                                            <div class="achievement__title">4</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                    </ul>
                                    <ul class="achievements__right-col">
                                        <li class="achievement achievements__right">
                                            <div class="achievement__title">5</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                        <li class="achievement achievements__right">
                                            <div class="achievement__title">6</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                        <li class="achievement achievements__right">
                                            <div class="achievement__title">7</div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                        <li class="achievement achievements__right">
                                            <div class="achievement__title achievement__title--image">
                                                <img src="/img/achieve/cup.svg" alt="">
                                            </div>
                                            <div class="achievement__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui </div>
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__block-swiper swiper-block">
                <div class="swiper-block__container container">
                    <div class="swiper-block swiper">
                        <div class="swiper-block__wrapper swiper-wrapper">
                          <div class="swiper-block__slide swiper-slide">
                            <div class="swiper-block__item">
                                <div class="swiper-block__content">
                                    <div class="swiper-block__image">
                                        <img src="/img/swiper-block/01.png" alt="">
                                    </div>
                                    <div class="swiper-block__text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-block__slide swiper-slide">
                            <div class="swiper-block__item">
                                <div class="swiper-block__content">
                                    <div class="swiper-block__image">
                                        <img src="/img/swiper-block/02.png" alt="">
                                    </div>
                                    <div class="swiper-block__text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit 
                                        </p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="swiper-block__slide swiper-slide">
                            <div class="swiper-block__item">
                                <div class="swiper-block__content">
                                    <div class="swiper-block__image">
                                        <img src="/img/swiper-block/03.png" alt="">
                                    </div>
                                    <div class="swiper-block__text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante
                                        </p>    
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-block__pagination swiper-pagination"></div>
                    </div>
                </div>
                <div class="swiper-block__btn-prev swiper-button-prev"></div>
                <div class="swiper-block__btn-next swiper-button-next"></div>
            </section>
            <section class="page__block-advantage advantage-block">
                <div class="advantage-block__container container">
                    <div class="advantage-block__grid">
                        <div class="advantage-block__body">
                            <div class="advantage-block__item">
                                <div class="advantage">
                                    <div class="advantage__title">
                                        <div class="advantage__image">
                                            <img src="/img/advantage-block/02.svg" alt="">
                                        </div>
                                        <div class="title">материалы от лучших компаний</div>
                                    </div>
                                    <div class="advantage__text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium, rutrum est, molestie proin tristique duis sed. Morbi suspendisse amet nisl vestibulum risus. Quis pretium
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="advantage-block__dots dots">
                                <div class="dots__list">
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                </div>
                            </div>
                            <div class="advantage-block__item">
                                <div class="advantage">
                                    <div class="advantage__title">
                                        <div class="advantage__image">
                                            <img src="/img/advantage-block/01.svg" alt="">
                                        </div>
                                        <div class="title">Опытные мастера</div>
                                    </div>
                                    <div class="advantage__text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et donec elementum egestas vitae ullamcorper. Amet volutpat ornare pharetra amet adipiscing orci, lectus aenean ultricies. Erat viverra eget blandit ornare. Molestie ipsum commodo faucibus rhoncus    
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="advantage-block__dots dots">
                                <div class="dots__list">
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                </div>
                            </div>
                            <div class="advantage-block__item">
                                <div class="advantage">
                                    <div class="advantage__title">
                                        <div class="advantage__image">
                                            <img src="/img/advantage-block/03.svg" alt="">
                                        </div>
                                        <div class="title">Гарантия на все виды работы</div>
                                    </div>
                                    <div class="advantage__text">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat.    
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advantage-block__swiper">
                            <div class="advantage-swiper swiper">
                                <div class="advantage-swiper__wrapper swiper-wrapper">
                                  <div class="advantage-swiper__slide swiper-slide">
                                    <div class="advantage-swiper__item">
                                        <div class="advantage-swiper__image">
                                            <img src="/img/Rectangle 52.png" alt="">
                                        </div>
                                        <div class="advantage-swiper__text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh feugiat est. Consectetur lectus.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="advantage-swiper__slide swiper-slide">
                                    <div class="advantage-swiper__item">
                                        <div class="advantage-swiper__image">
                                            <img src="/img/Rectangle 52.png" alt="">
                                        </div>
                                        <div class="advantage-swiper__text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh feugiat est. Consectetur lectus.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="advantage-swiper__slide swiper-slide">
                                    <div class="advantage-swiper__item">
                                        <div class="advantage-swiper__image">
                                            <img src="/img/Rectangle 52.png" alt="">
                                        </div>
                                        <div class="advantage-swiper__text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh feugiat est. Consectetur lectus.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="advantage-swiper__pagination swiper-pagination"></div>

                              </div>
                              <div class="advantage-swiper__btn-prev swiper-button-prev"></div>
                              <div class="advantage-swiper__btn-next swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__block-service service-block">
                <div class="service-block__container container">
                    <div class="service-block__body">
                        <div class="service-block__title title title--big">Наши услуги</div>
                        <div class="service-block__dots dots">
                            <div class="dots__list">
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                            </div>
                        </div>
                        <div class="service-block__tabs">
                            <ul class="tabs">
                                <li>
                                    <a id="#first" class="tabs__tab tab active">
                                        <div class="tab__title">
                                            <p>
                                                Оклейка
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a id="#second" class="tabs__tab tab">
                                        <div class="tab__title">
                                            <p>Детейлинг</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tabs__content">
                                <ul class="tabs__list">
                                    <li id="first" class="active">
                                        <div class="tabs__item">
                                            <div class="services">
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/04.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Защитные пленки</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/02.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Цветные пленки</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/01.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Дизайн</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/03.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Оклейка салона</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="second">
                                        <div class="tabs__item">
                                            <div class="services">
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/02.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Цветные пленки</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/01.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Дизайн</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="services__item">
                                                    <div class="service">
                                                        <div class="service__image">
                                                            <img src="/img/advantage-block/03.svg" alt="">
                                                        </div>
                                                        <div class="service__text-block">
                                                            <div class="service__title">Оклейка салона</div>
                                                            <div class="service__text">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nascetur ultrices pellentesque vulputate sit. Ut feugiat.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="service__button btn">
                                                            <span>Подробнее</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__block-advantage advantage-block">
                <div class="advantage-block__container container">
                    <div class="advantage-block__grid">
                        <div class="advantage-block__swiper">
                            <div class="advantage-swiper swiper">
                                <div class="advantage-swiper__wrapper swiper-wrapper">
                                  <div class="advantage-swiper__slide swiper-slide">
                                    <div class="advantage-swiper__item">
                                        <div class="advantage-swiper__image">
                                            <img src="/img/Rectangle 52 (2).png" alt="">
                                        </div>
                                        <div class="advantage-swiper__text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh feugiat est. Consectetur lectus.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="advantage-swiper__slide swiper-slide">
                                    <div class="advantage-swiper__item">
                                        <div class="advantage-swiper__image">
                                            <img src="/img/Rectangle 52.png" alt="">
                                        </div>
                                        <div class="advantage-swiper__text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh feugiat est. Consectetur lectus.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="advantage-swiper__slide swiper-slide">
                                    <div class="advantage-swiper__item">
                                        <div class="advantage-swiper__image">
                                            <img src="/img/Rectangle 52 (2).png" alt="">
                                        </div>
                                        <div class="advantage-swiper__text">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nibh feugiat est. Consectetur lectus.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="advantage-swiper__pagination swiper-pagination"></div>

                              </div>
                              <div class="advantage-swiper__btn-prev swiper-button-prev"></div>
                              <div class="advantage-swiper__btn-next swiper-button-next"></div>
                        </div>
                        <div class="advantage-block__body">
                            <div class="advantage-block__item">
                                <div class="advantage">
                                    <div class="advantage__title">
                                        <div class="advantage__image">
                                            <img src="/img/advantage-block/04.svg" alt="">
                                        </div>
                                        <div class="title">100% полироль axem</div>
                                    </div>
                                    <div class="advantage__text">
                                        <p>
                                            Pharetra in bibendum id id. Sit maecenas sollicitudin est, hendrerit in malesuada. Eu, et lacus nisi mus sagittis, rhoncus est dictum. Gravida lectus urna, arcu, sodales. Ac.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="advantage-block__dots dots">
                                <div class="dots__list">
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                </div>
                            </div>
                            <div class="advantage-block__item">
                                <div class="advantage">
                                    <div class="advantage__title">
                                        <div class="advantage__image">
                                            <img src="/img/advantage-block/03.svg" alt="">
                                        </div>
                                        <div class="title">выполняем работу четко по тз</div>
                                    </div>
                                    <div class="advantage__text">
                                        <p>
                                            Lorem nulla non nibh quis elit odio. Dui et ultricies duis mattis dictum et senectus nunc sodales. Tellus lorem risus etiam quam massa lobortis convallis laoreet. Nec.    
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="advantage-block__dots dots">
                                <div class="dots__list">
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                    <li><span class="dots__dot"></span></li>
                                </div>
                            </div>
                            <div class="advantage-block__item">
                                <div class="advantage">
                                    <div class="advantage__title">
                                        <div class="advantage__image">
                                            <img src="/img/advantage-block/01.svg" alt="">
                                        </div>
                                        <div class="title">у нас лучшие мастера</div>
                                    </div>
                                    <div class="advantage__text">
                                        <p>
                                            Posuere nam sodales ullamcorper bibendum justo maecenas at. Ultricies bibendum morbi tempor vehicula. Ultrices erat maecenas in id maecenas sed ipsum scelerisque.  
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__block-portfolio portfolio-block">
                <div class="portfolio-block__slider slider">
                    <div class="slider__title">Наши работы</div>
                    <div class="slider__content">
                        <div class="portfolio-block__container container">
                            <div class="portfolio-block__body">
                                <div class="portfolio-block__title title title--big">
                                    Наши работы
                                </div>
                                <div class="portfolio-block__dots dots">
                                    <div class="dots__list">
                                        <li><span class="dots__dot"></span></li>
                                        <li><span class="dots__dot"></span></li>
                                        <li><span class="dots__dot"></span></li>
                                        <li><span class="dots__dot"></span></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-block__images">
                            <div class="portfolio-block__grid">
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 56.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 57.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 58.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 59.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 60.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 61.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 61.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 60.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 59.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 58.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 57.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 56.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 56.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 57.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 58.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 59.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 60.png" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-block__item">
                                    <div class="portfolio-block__image">
                                        <img src="/img/portfolio-block/Rectangle 61.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__form-block form-block">
                    <div class="form-block__body">
                        <div class="footer__title title title--big">ответим на любой вопрос</div>
                        <div class="footer__dots dots">
                            <div class="dots__list">
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                                <li><span class="dots__dot"></span></li>
                            </div>
                        </div>
                        <form class="form" method="get" action="#">
                            <div class="form__personal">
                                <input class="form__name" type="name" id="name" autocomplete="name" placeholder="ИМЯ">
                                <input class="form__tel" type="tel" id="number" autocomplete="mobile" placeholder="ТЕЛЕФОН">
                                <div class="form__text-block">
                                    <textarea class="form__text" type="textarea" placeholder="Вопрос по дизайну, тюнингу и др."></textarea>
                                    <ul class="form__socials socials__list">
                                        <li>
                                            <a href="" class="socials__link">
                                                <img src="/img/icons/soc-icons.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="socials__link">
                                                <img src="/img/icons/soc-icons (1).svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="socials__link">
                                                <img src="/img/icons/soc-icons (2).svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form__button-block">
                                    <button type="submit" class="form__button btn">
                                        <span>Отправить</span>
                                    </button>
                                    <div class="form__contacts">
                                        <a href="" class="form__item form-item">
                                            <div class="form-item__image">
                                                <img src="/img/icons/carbon_location-filled.svg" alt="">
                                            </div>
                                            <div class="form-item__text">
                                                <p>Eu faucibus et rutrum fringilla orci nunc</p>
                                            </div>
                                        </a>
                                        <a href="" class="form__item form-item">
                                            <div class="form-item__image">
                                                <img src="/img/icons/ci_phone.svg" alt="">
                                            </div>
                                            <div class="form-item__text">
                                                <p>8 (812) 123-45-67</p>
                                            </div>
                                        </a>
                                        <a href="" class="form__item form-item">
                                            <div class="form-item__image">
                                                <img src="/img/icons/fluent_mail-28-filled.svg" alt="">
                                            </div>
                                            <div class="form-item__text">
                                                <p>den.sarzhan.04@gmail.com</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="footer__body">
                    <div class="footer__service">
                        2022 © Est et viverra pellentesque pharetra lorem proin in. Vitae magna at tempus commodo.
                    </div>
                    <div class="footer__menu menu">
                        <div class="menu__body">
                            <ul class="menu__list">
                                <li><a href="" class="menu__link">Главная</a></li>
                                <li><a href="" class="menu__link">Оклейка автомобилей</a></li>
                                <li><a href="" class="menu__link">Детейлинг автомобилей</a></li>
                                <li><a href="" class="menu__link">Галерея работ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>                           
</html>