// Sizes -------------------------------------------------------
$maxWidth: 1050px;

// Fonts -------------------------------------------------------
$fontMontserrat: 'Montserrat';

// Colors ------------------------------------------------------
$bgColor: #F9F9F9;
$primaryColor: #721830;

$black: #000000;
$white: #FFFFFF;
$red: #741830;
$dark-gray: #342E2F;