.post {

    display: grid;
    gap: 32px;
    padding:  0 0 60px 0;
    &__title {
        display: grid;
    }
    &__title.skeleton {
        padding: 20px;
    }
    &__date {
        align-self:flex-end;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 10px;
    }
    &__image {
        max-height: 427px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    }
    &__image.skeleton {
        height: 427px;
    }
    &__image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__text {
        line-height: 160%;
    }
    &__text.skeleton {
        padding: 100px;
    }
}